.who{
    
margin-bottom: 5rem;

}

.who h1{
    color: black;
    text-align: center;
    margin: 5rem;
    font-weight: 600;
}

.card-who{
    border: none;
    margin: 10rem 5rem 10rem 5rem;
z-index: 1;
    color: #ffffff;
    border-radius: 40px 0 40px 0;
    padding: 1rem;
    /* background-color:  #3398a5; */
}
.card-container {
    position: relative; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    background-image: url(https://img.freepik.com/premium-photo/web-development-coding-programming-site-application-laptop_272306-16.jpg?w=826);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-container::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    left: 0;
}


.card-who h3{
    padding-bottom: 0.5rem;
    padding-top: 0.3rem;
    font-size:x-large;
}

@media screen and (max-width: 992px) {
    .card-container{
        /* max-width: 1140px; */
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 0px;
  
    }
    .card-who{
        border: none;
        margin: 5rem 5rem 5rem 5rem;
    z-index: 1;
        color: #ffffff;
        border-radius: 40px 0 40px 0;
        padding: 1rem;
        /* background-color:  #3398a5; */
    }

}
@media screen and (max-width: 600px) {
    .card-who{
        margin: 5rem 2rem 5rem 2rem;
   }

}