@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

.body{
 margin: 0;
 font-family: 'Lato', sans-serif;


}
a{
  color: black;
  text-decoration: none;

}
ul{
  list-style-type: none;
  

}
.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  color: #222;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 30%;
}
.btn-light{
  background: transparent;
  color: #ffffff;
  border-radius: 30%;

}
.btn:hover{
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  transition: 0.3s;
  background-color: rgb(234, 67, 78);

}




